.popup-main-container {
  z-index: 1;
  height: 112%;
  position: absolute;
  width: 100%;
  background-color: rgba(175, 175, 175, 0.5);
}

.popup-sub-container {
  background-color: white;
  margin: 32px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup-question-asked {
  padding: 16px;
}
